body {
	font-family: 'Trebuchet MS', sans-serif;
	margin: 0;
	background-color: #0f1324;
	color: #f0f2f9;
}


a {
	text-decoration: none;
	color: #f0f2f9;
}
.navbar {
	overflow: hidden;
    background-color: #0a0e1a;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

/* To apply a border to all children (including the parent), eliminate later*/
.hero * {
	border: 0.5px solid red;
}

.hero {
	display: flex;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%); 
	justify-content: space-between;
    width: 100%;
}

.hero div {
	flex: 1;
}

.title-and-subtitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding: 5rem;
}

#Main-Title {
	font-size: 5rem;
	margin-bottom: -1rem;
}

#Subtitle {
	font-size: 2rem;
}

.title-and-subtitle .font-effect {
	font-family: 'Courier New', monospace;
	color: #6d80c5;
}

#main-image {
	height: auto;
	width: 50%;
}

