body {
	margin: 0;
	background-color: #0f1324;
	color: #f0f2f9;
}

a {
	text-decoration: none;
	color: #f0f2f9;
}
.navbar {
	overflow: hidden;
    background-color: #0a0e1a;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
