body {
	font-family: 'Trebuchet MS', sans-serif;
	margin: 0;
	background-color: #030307;
	color: #E4E4F1;
}


a {
	text-decoration: none;
	color: #E4E4F1;
}

.navbar {
	overflow: hidden;
    background-color: #161616;
}
/* ----For normal computer screen ----- */

.navbar a {
  float: left;
  text-align: center;
  padding: 2.5vw 16px;
  font-size: 1.5vw;
}

.navbar a:hover {
	background-color: #d53f3f;
}

/* To apply a border to all children (including the parent), eliminate later
body * {
	border: 0.5px solid red;
}*/

.hero {
	display: flex;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%); 
	justify-content: space-between;
    width: 100%;
}

.hero div {
	flex: 1;
}

.title-and-subtitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 1vw 2vw;
}

#Main-Title {
	font-size: 5vw;
	margin-bottom: -1rem;
	font-weight: 900;
}

#Subtitle {
	font-size: 2vw;
}

.title-and-subtitle .font-effect {
	font-family: 'Courier New', monospace;
	color: #d53f3f;
}

.blinking {
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
	to {
	  visibility: hidden;
	}
}

@-webkit-keyframes blink-animation {
	to {
	  visibility: hidden;
	}
}

.fa:hover {
	color: #d53f3f;
}

.fa-github, .fa-instagram {
  padding: 20px;
  font-size: 2rem !important;
}

.hero .image-wrapper {
	display: flex;
    justify-content: center;
	align-items: center;
}

.image-wrapper {
	padding-right: 1.5vw;
}

#main-image {
	height: auto;
	width: 85%;
}

/* About me page */
.about-me {
	text-align: center;
	margin: 0px 12vw;
}

.images img {
	height: auto;
	width: 300px;
}

#name-title {
	font-size: calc( 1rem + 2vw );
	margin-bottom: 1vh;
}

#career-subtitle {
	font-size: calc( 0.5rem + 1vw );
}

.description {
	margin: -5px 0px;
}

.cv {
	text-align: center;
	padding: 10px;
	background-color: #d53f3f;
}

/* Topic */
.topic {
	display: flex;
	justify-content: space-between;
	padding: 3vw;
	font-size: 3vw;
	background-color: #d53f3f;
}

@media screen and (max-width: 1024px) {
	.navbar a {
		font-size: 3vw;
		padding: 2.5vw 3vw;
	}

	.fa .fa-home {
		font-size: 1vw !important;
	}

	.hero {
		display: block;
		top: 0%;
		transform: translate(0%, 0%);
		margin-top: 5vh;
	}

	.hero .title-and-subtitle {
		text-align: center;
		display: block;
		padding: 2vh 1vw;
	}

	#Main-Title {
		text-align: center;
		font-size: 8vw;
		margin-bottom: 1vh;
	}

	#Subtitle {
		font-size: 4vw;
	}

	.image-wrapper {
		padding-right: 0px;
		text-align: center;
	}
}
